// Add Font
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Lobster&family=Raleway:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=M+PLUS+Code+Latin&display=swap");

// Add Partials
@import "./colors.scss";
@import "./mixin.scss";

// General
body {
  background-color: $body-color;
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 70%;
    margin: auto;
  }
  .btn-color {
    background-color: $bg-color;
    color: $bg-white;
    font-size: 0.85em;
    letter-spacing: 0.15em;
  }
  p {
    font-size: 0.85em !important;
  }
  small {
    font-size: 0.75em !important;
    span {
      text-decoration: underline;
      text-underline-position: under;
    }
  }
}
// Hero Section
#hero {
  background-color: $bg-white;
  .navbar-light {
    .navbar-brand {
      color: $small-title !important;
      font-family: "M PLUS Code Latin", monospace;
      font-size: 2em;
    }
    .navbar-toggler {
      border: none !important;
    }
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .custom-toggler.navbar-toggler {
    border-color: rgb(0, 0, 0);
  }
  .rounded-image-box {
    float: right;
    @include rounded-image-box(
      "../images/hero.jpg",
      20em,
      40em,
      0 100em 100em 0,
      null
    );
  }
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* For-box-after-hero Section */
.four-box-after-hero {
  .rounded-image-box {
    @include rounded-image-box(
      "../images/after-hero.jpg",
      43em,
      21em,
      0 0 100em 100em,
      null
    );
  }
  .four-boxes {
    .row {
      .card {
        border-bottom: 8px solid $bg-color !important;
        border-bottom-left-radius: 12px !important;
        border-bottom-right-radius: 12px !important;
        box-shadow: 0 5px 15px $box-shadow-color;
      }
      .card-body {
        font-size: 1em;
      }
    }
  }
}
// Three-boxes Section
#three-boxes {
  .three-boxes {
    top: 1em;
    .card {
      border-radius: 12px !important;
      box-shadow: 0 5px 15px $box-shadow-color;
    }
    .card-title-number {
      color: $bg-color;
      font-size: 2em !important;
      font-family: "Raleway", sans-serif;
      font-weight: 700 !important;
    }
    .card-title {
      font-family: "Raleway", sans-serif;
    }
    .card-body {
      font-size: 1.15em;
    }
  }
  .rounded-image-box {
    @include rounded-image-box(
      "../images/after-3-box.jpg",
      22em,
      40em,
      100em 0 0 100em,
      null
    );
  }
}
// Semicircle Part after 3-boxes
#semicircle-part {
  margin-top: 15rem !important;
  h3 {
    font-family: "Raleway", sans-serif;
  }
}
.vertical-column {
  width: 80px;
  height: 350px;
  background-color: $bg-color;
}
// About us Section
#about-us-section {
  .about-content {
    background-color: $body-color;
    bottom: -20px;
    right: -80px;
    left: 200px;
  }
  // rounded-circle-image
  #rounded-circle-image {
    &.rounded-image-box {
      @include rounded-image-box(
        "../images/about-us.jpg",
        30em,
        30em,
        50%,
        null
      );
    }
  }
  // rounded-circle-right
  #rounded-circle-right {
    &.rounded-image-box {
      @include rounded-image-box(null, 15em, 15em, 50%, $bg-color);
      top: -10px;
      right: 30px;
    }
  }
  .about-us-3-boxes {
    .card {
      border-radius: 12px !important;
    }
  }
  .about-us-3-boxes .col-md-4 {
    &:nth-child(1) .card,
    &:nth-child(3) .card {
      background-color: $bg-color;
      color: $bg-white;
    }
    &:nth-child(2) .card {
      background-color: $bg-white;
      color: $bg-color;
    }
  }
}
// Man-person Section
#man-person {
  background-color: $bg-white;
  .card {
    background-color: $bg-color;
    color: $bg-white;
    border: none !important;
    border-radius: 12px;
    padding: 2em;
    height: 34em;
    width: 100% !important;
  }
  h1 {
    font-size: 3.5em !important;
    font-family: "Raleway", sans-serif;
  }
  p {
    font-weight: 3em !important;
  }
  .rounded-image-box {
    @include rounded-image-box(
      "../images/man-person.jpg",
      18em,
      35em,
      0 100em 100em 0,
      null
    );
  }
}
// Meet Our Amazing Team Section
#our-team {
  background-color: $bg-color;
  .our-team {
    color: $bg-white;
  }
  .media {
    background-color: $bg-white;
    border-radius: 12px;
    margin-bottom: 2em;
    small {
      color: #a0a0a0;
    }
    h5 {
      color: $bg-color;
    }
    .media-icon {
      i {
        display: inline-flex;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        background-color: $bg-color;
        color: $bg-white;
        border-radius: 50%;
      }
    }
  }
}
// Get in Touch Section
#get-in-touch {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/building.jpg);
  background-position: center;
  background-size: cover;

  .get-in-touch-box {
    background-color: #f6f7fc;
  }
  .get-in-touch-left p {
    &:nth-child(2) {
      color: $small-title;
    }
    &:nth-child(3) {
      color: black;
    }
  }
  .get-in-touch-right {
    .rounded-image-box {
      @include rounded-image-box(
        "../images/contact.jpg",
        20em,
        11em,
        100em 100em 0 0,
        null
      );
    }
    i {
      color: $bg-color !important;
    }
  }
}
